# Private
.vscode
/node_modules
/PRIVATE
/data

# Root
/package-lock.json
/package.json

# Subfolders
discord-fetchallmessages/config.json

discord-awaitreply/config.json

discord-bbstatus/config.json

discord-findtwitch/config.json

discord-gameselection/config.json

discord-hltv/config.json

discord-reuploadtoimgur/config.json

discord-steamsale/config.json

discord-twitch&yt_audiostream/config.json

discord-websitescreenshot/config.json

discord-voicerecord/config.json
discord-voicerecord/audios
discord-voicerecord/send-cli

discord-apply/config.json

discord-steamappchanges/backend
!discord-steamappchanges/backend/README.md
discord-steamappchanges/config.json
discord-steamappchanges/last-changenumber.txt
/apps.json

discord-steamconnection/config.json

discord-steamaccgenerator/config.json

discord-needsmorejpeg/config.json

discord-bigselection/config.json
discord-bigselection/reactionCollector.json

discord-stopcancer/config.json

discord-trustfactor/config.json

discord-inviter/config.json

discord-slider/config.json

other-twitchcroppedsnapshot/config.json