{
    "botToken": "<BOTTOKEN>",
    "prefix": "-",
    "setup": [
        {
            "msg": "Example Message",
            "reactions": [
                {
                    "emote": "408840138173710337",
                    "role": "469530891895701514"
                },
                {
                    "emote": "408845668057350150",
                    "role": "469530891895701515"
                },
                {
                    "emote": "409277094007406594",
                    "role": "469530891895701516"
                }
            ]
        },
        {
            "msg": false,
            "reactions": [
                {
                    "emote": "409287169035862026",
                    "role": "469530891895701517"
                },
                {
                    "emote": "409287179161042954",
                    "role": "469530891895701518"
                },
                {
                    "emote": "409287184605118464",
                    "role": "469530891895701519"
                }
            ]
        },
        {
            "msg": false,
            "reactions": [
                {
                    "emote": "418265716450656267",
                    "role": "469530891895701520"
                },
                {
                    "emote": "455557131194859520",
                    "role": "469530891895701521"
                },
                {
                    "emote": "473956546917695509",
                    "role": "469530891895701522"
                }
            ]
        },
        {
            "msg": false,
            "reactions": [
                {
                    "emote": "🥉",
                    "role": "469530891895701523"
                },
                {
                    "emote": "🤔",
                    "role": "469530891895701524"
                },
                {
                    "emote": "❤",
                    "role": "469530891895701525"
                }
            ]
        }
    ]
}